<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### banner_area Area Start ##### -->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
      style="transform: translateY(-0.896462px);"
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <div class="post_question">
          <form method="get" action="">
            <input
              type="text"
              id="search_now"
              placeholder="Do you have a question? ask here..."
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### banner_area Area End ##### -->
<section class="top-questions">
  <div class="container">
    <div class="row">
      <div class="col-12" style="background:#ebebeb; margin-bottom:20px;">
        <h3>Top Questions</h3>
        <div class="show_qustions col-8" style="float:left">
          <% for (let q of questions) { %>
            <% include partials/question %>
          <% } %>
        </div>
        <div class="col-4 tool-tip">
          <h4>Ask a Question</h4>
          <a href="http://127.0.0.1:2000/blog/questions/new/"
            ><span class="new-quez">New Question</span>
          </a>
          <a href="">
            <span class="new-quez" style="background:#ea243b">
              Sign in with Google+
            </span>
          </a>
          <a href="">
            <span class="new-quez" style="background:#475ac7">
              Sign in with Facebook
            </span>
          </a>
          <hr />
          <p>Hot Question</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
