<!-- ##### Header Area Starts ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
  <div class="hero-post-slides owl-carousel">
    <!-- Single Hero Post -->
    <div class="single-hero-post bg-overlay">
      <!-- Post Image -->
      <div
        class="slide-img bg-img"
        style="background-image: url(http://127.0.0.1:2000/img/bg-img/1.jpg);"
      ></div>
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Post Content -->
            <div class="hero-slides-content text-center">
              <h2>
                Build Your Professional Website Now for Cheapest Price Ever
              </h2>
              <p>
                With our team you can now build your own website either
                front-end or back-end, we have a professional developr on both
                sides
              </p>
              <div class="welcome-btn-group">
                <a
                  href="http://127.0.0.1:2000/portfolio"
                  class="btn alazea-btn mr-30"
                  >GET STARTED</a
                >
                <a
                  href="http://127.0.0.1:2000/contact"
                  class="btn alazea-btn active"
                  >CONTACT US</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Hero Post -->
    <div class="single-hero-post bg-overlay">
      <!-- Post Image -->
      <div
        class="slide-img bg-img"
        style="background-image: url(http://127.0.0.1:2000/img/bg-img/3.jpg);"
      ></div>
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Post Content -->
            <div class="hero-slides-content text-center">
              <h2>Explor Nubia Design</h2>
              <p>
                Nubia Design is collection of an expert designers who realy care
                about you, so they offering a lot of a different products, Nubia
                is part of Script House Team, They are only work on design, We
                are perfectly work together as a company, you can check Nubia
                Team or rate them now.
              </p>
              <div class="welcome-btn-group">
                <a
                  href="http://127.0.0.1:2000/nubia/"
                  class="btn alazea-btn mr-30"
                  >Nubia Team</a
                >
                <a
                  href="http://127.0.0.1:2000/nubia/products/"
                  class="btn alazea-btn active"
                  >Nubia Design</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Service Area Start ##### -->
<section
  class="about_area p_120 our-services-area bg-gray section-padding-100-0"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2>OUR SERVICES</h2>
          <p>We provide the perfect service for you.</p>
        </div>
      </div>
    </div>
    <div class="about_inner row">
      <div class="col-lg-6">
        <div class="about_left_text">
          <h6>Brand new app to blow your mind</h6>
          <h3>We’ve made a Tamplates <br />that will change you</h3>
          <h5>We are here to listen from you deliver exellence</h5>
          <p>
            Here we offer you a ton of a free projects you can review and
            download if you would, feel free to check them out and rate us.
          </p>
          <a class="main_btn" href="/portfolio/">Review Now</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="http://127.0.0.1:2000/img/bg-img/offer-2.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- ##### Service Area End ##### -->

<!-- ##### Android Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Android House</h2>
      <p>We have most pro android apps with our top developers.</p>
    </div>
    <div class="row justify-content-between">
      <div class="col-12 col-lg-5">
        <div class="alazea-service-area mb-100">
          <img src="http://127.0.0.1:2000/img/bg-img/android.png" alt="" />
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          class="single-service-area d-flex align-items-center wow fadeInUp"
          data-wow-delay="300ms"
        >
          <!-- Content -->
          <div class="service-content">
            <h5>Android Apps & Services</h5>
            <p>
              Android apps and services are one of Script House's fields,
              building and serving android apps customers. Android apps and
              services are one of Script House's fields, building and serving
              android apps customers.
            </p>
          </div>
        </div>

        <div
          class="single-service-area d-flex align-items-center wow fadeInUp"
          data-wow-delay="300ms"
        >
          <!-- Content -->
          <div class="service-content">
            <h5>Our Android Developers</h5>
            <p>
              We have a team of UX/UI design for android apps, also a great
              knowledgable team for building android apps and developing it.
            </p>
          </div>
        </div>

        <div
          class="single-service-area d-flex align-items-center wow fadeInUp"
          data-wow-delay="300ms"
        >
          <!-- Content -->
          <div class="service-content">
            <h5>Coming Soon</h5>
            <p>
              To build a free and reviewable android projects, it does take a
              while so keep waiting us, feel free to
              <a href="http://127.0.0.1:2000/contact">ask</a> us any questions
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ##### Android Area End ##### -->

<!-- ##### nubia Area Start ##### -->
<section class="nubia" style="width: 100%;height: 400px;">
  <div class="nubia-container">
    <h2>Explore Nubia Design</h2>
    <p>
      Nubia Design is collection of an expert designers who realy care about
      you, so they offering a lot of a different products, Nubia is part of
      Script House Team, They are only work on design, We are perfectly work
      together as a company, you can check Nubia Team or rate them now.
    </p>
    <div class="welcome-btn-group">
      <a href="http://127.0.0.1:2000/nubia/" class="btn alazea-btn mr-30"
        >Nubia Team</a
      >
      <a
        href="http://127.0.0.1:2000/nubia/products"
        class="btn alazea-btn active"
        >Nubia Design</a
      >
    </div>
  </div>
</section>
<!-- ##### nubia Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="script-forum-area">
  <div class="forum-section">
    <div class="forum-head">
      <h1>
        Engage with our forum and ask whatever you wish so, just by logging in
        to our website and share your skills with others people
      </h1>
      <span></span>
      <p>
        We have a new forum for your commonly questions, and share other's
        answers
      </p>
    </div>
    <div class="forum-sub">
      <a href="http://127.0.0.1:2000/" id="forum-btn" class="main_btn"
        >Engage Now</a
      >
      <a href="http://127.0.0.1:2000/blog/" id="forum-btn" class="main_btn"
        >See Forum</a
      >
    </div>
  </div>
</section>
<!-- ##### Blog Area End ##### -->

<!-- ##### projects Area Start ##### -->

<!-- ##### projects Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
