<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### banner_area Area Start ##### -->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
      style="transform: translateY(-0.896462px);"
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>About Nubia</h2>
      </div>
    </div>
  </div>
</section>
<!-- ##### banner_area Area End ##### -->
<section class="module" id="services">
  <div class="container">
    <div class="nubia-row">
      <div class="col-sm-n-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Nubia Services</h2>
        <div
          class="module-subtitle font-serif"
          style="width:50%; margin-left:25%;"
        >
          A wonderful serenity has taken possession of my entire soul, like
          these sweet mornings of spring which I enjoy with my whole heart.
        </div>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-lightbulb"></span></div>
          <h3 class="features-title font-alt">Ideas and concepts</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-bike"></span></div>
          <h3 class="features-title font-alt">Optimised for speed</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-tools"></span></div>
          <h3 class="features-title font-alt">Designs &amp; interfaces</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-gears"></span></div>
          <h3 class="features-title font-alt">Highly customizable</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-tools-2"></span></div>
          <h3 class="features-title font-alt">Coding &amp; development</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-genius"></span></div>
          <h3 class="features-title font-alt">Features &amp; plugins</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-mobile"></span></div>
          <h3 class="features-title font-alt">Responsive design</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-lifesaver"></span></div>
          <h3 class="features-title font-alt">Dedicated support</h3>
          <p>
            Careful attention to detail and clean, well structured code ensures
            a smooth user experience for all your visitors.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### ##### -->
<!-- ##### Clients Area Start ##### -->
<section class="testimonial-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="testimonials-slides owl-carousel">
          <!-- Single clients Slide -->
          <div class="single-testimonial-slide">
            <div class="row align-items-center">
              <div class="col-12 col-md-6">
                <div class="testimonial-thumb">
                  <img src="http://127.0.0.1:2000/img/bg-img/13.jpg" alt="" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="testimonial-content">
                  <!-- Section Heading -->
                  <div class="section-heading">
                    <h2>NUBIA Clients</h2>
                    <p>Some kind words from clients about Nubia Design</p>
                  </div>
                  <p>
                    “Here is some words about Nubia and the client are very good
                    giving this feedback”
                  </p>
                  <div class="testimonial-author-info">
                    <h6>Johnson Ted</h6>
                    <p>Commenter</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single clients Slide -->
          <div class="single-testimonial-slide">
            <div class="row align-items-center">
              <div class="col-12 col-md-6">
                <div class="testimonial-thumb">
                  <img src="http://127.0.0.1:2000/img/bg-img/14.jpg" alt="" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="testimonial-content">
                  <!-- Section Heading -->
                  <div class="section-heading">
                    <h2>Nubia Clients</h2>
                    <p>Some kind words from clients about Nubia Design</p>
                  </div>
                  <p>
                    “Here is some words about Nubia and the client are very good
                    giving this feedback”
                  </p>
                  <div class="testimonial-author-info">
                    <h6>Johnson Ted</h6>
                    <p>CEO</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single clients Slide -->
          <div class="single-testimonial-slide">
            <div class="row align-items-center">
              <div class="col-12 col-md-6">
                <div class="testimonial-thumb">
                  <img src="http://127.0.0.1:2000/img/bg-img/15.jpg" alt="" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="testimonial-content">
                  <!-- Section Heading -->
                  <div class="section-heading">
                    <h2>NUBIA Clients</h2>
                    <p>Some kind words from clients about Nubia Design</p>
                  </div>
                  <p>
                    “Here is some words about Nubia and the client are very good
                    giving this feedback”
                  </p>
                  <div class="testimonial-author-info">
                    <h6>Johnson Ted</h6>
                    <p>Dsigner</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### clients Area End ##### -->

<!-- ##### Product Area Start ##### -->
<section class="new-arrivals-products-area bg-gray section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2>NUBIA PRODUCTS</h2>
          <p>We have the latest products, it must be exciting for you</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Product Area -->
      <% bestSells.forEach(function(inf){ %>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-product-area mb-50">
          <div class="product-img">
            <img src="<%= inf.prodPic %>" alt="" />
            <div class="product-meta d-flex">
              <a href="#" class="wishlist-btn" style="visibility: hidden;">
                <i class="icon_heart_alt"></i>
              </a>
              <a href="https://facebook.com" class="add-to-cart-btn"
                >Add to cart</a
              >
              <a href="#" class="compare-btn" style="visibility: hidden;">
                <i class="arrow_left-right_alt"></i>
              </a>
            </div>
          </div>
          <div class="product-info mt-15 text-center">
            <a
              href="http://127.0.0.1:2000/nubia/products/product_number=<%= inf.id %>"
            >
              <p><%= inf.prodName %></p>
            </a>
            <h6>$<%= inf.prodPrice %></h6>
          </div>
        </div>
      </div>
      <% }) %>
      <div class="col-12 text-center">
        <a href="http://127.0.0.1:2000/nubia/products/" class="btn alazea-btn"
          >View All</a
        >
      </div>
    </div>
  </div>
</section>
<!-- ##### Product Area End ##### -->
<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
