<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### banner_area Area Start ##### -->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
      style="transform: translateY(-0.896462px);"
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Portfolio</h2>
      </div>
    </div>
  </div>
</section>
<!-- ##### banner_area Area End ##### -->

<!-- ##### Portfolio Area Start ##### -->
<div class="inner">
  <header>
    <h1>This is Script House, a free, fully responsive sites made with love</h1>
    <p>
      Everythings looks great with Script House team, the best front-end
      developers and expersts with UX, making a lot of a FREE designs just to
      let you choose the right template, and our back-end team can do the magic
      for you, just tell us your ideas.
    </p>
  </header>
  <section class="tiles">
    <article class="style1">
      <span class="image">
        <img src="http://127.0.0.1:2000/img/bg-img/project1.png" alt="" />
      </span>
      <a href="http://127.0.0.1:2000/portfolio/project/"> </a>
    </article>
    <!--  -->
    <article class="style1">
      <span class="image">
        <img src="http://127.0.0.1:2000/img/bg-img/project2.png" alt="" />
      </span>
      <a href="http://127.0.0.1:2000/portfolio/project/"> </a>
    </article>
    <!--  -->
    <article class="style1">
      <span class="image">
        <img src="http://127.0.0.1:2000/img/bg-img/project3.png" alt="" />
      </span>
      <a href="http://127.0.0.1:2000/portfolio/project/"> </a>
    </article>
    <!--  -->
    <article class="style1">
      <span class="image">
        <img src="http://127.0.0.1:2000/img/bg-img/project4.png" alt="" />
      </span>
      <a href="http://127.0.0.1:2000/portfolio/project/"> </a>
    </article>
  </section>
</div>

<!-- ##### Portfolio Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
