<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(http://127.0.0.1:2000/img/bg-img/2.jpg);">
        <h2 id="text-style-hash"><span>#p</span>ortfolio</h2>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Portfolio Area Start ##### -->
<div class="inner">
    <header>
        <h1>This is Script House, a free, fully responsive sites made with love</h1>
        <p>Everythings looks great with Script House team, the best front-end developers and expersts with UX,
        making a lot of a FREE designs just to let you choose the right template, and our back-end team can do the magic for you, just tell us your ideas.</p>
    </header>
        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style4">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
            <article class="style4">
                <span class="image">
                    <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                </span>
                <a href="http://127.0.0.1:2000/portfolio/project/">
                    <h2>template</h2>
                    <div class="content">
                        <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                    </div>
                </a>
            </article>
        </section>
    </div>

<!-- ##### Portfolio Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
