.price {
  width: 50%;
  display: inline-block;
  font-size: 18px;
}
.download {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -10px;
}
.script-btn-black {
  position: relative;
  left: 4%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 6px 9px 6px 9px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
}
.script-btn-black:hover {
  background-color: rgb(54, 53, 53);
}
.product-container {
  position: relative;
  width: 230px;
  float: left;
  overflow: hidden;
  margin: 0 0px 20px 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 20px;
  margin: 15px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
}
.pic-cont {
  width: 250px;
  height: 230px;
}
.pic-cont img {
  width: 230px;
  height: 230px;
  filter: brightness(0.95);
  transition: all ease 400ms;
  cursor: pointer;
}
.pic-cont img:hover {
  filter: brightness(0.5);
}
.tooltip-download {
  width: 230px;
  background: rgb(245, 245, 245);
  padding: 0 0 10px 10px;
}

.download-payment {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 150;
  background: rgba(18, 19, 19, 0.075);
  display: none;
  transition: all ease-in 500ms;
}

.download-payment .container {
  padding: 15px;
  position: relative;
  width: 60%;
  height: 40%;
  margin-top: 15%;
  background: rgb(255, 255, 254);
  border-radius: 20px/150px;
  overflow: hidden;
  display: flex;
  top: 5%;
  opacity: 0;
  transition: all ease-in 300ms;
  box-shadow: 2px 2px 35px 0px black;
}
